version: '3.8'
services:
  nginx:
    build: ./nginx
    image: nginx-custom
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    expose:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.oxo.rule=Host(`oxo.hukakhepak.ru`)"
      - "traefik.http.routers.oxo.entrypoints=websecure"
      - "traefik.http.routers.oxo.tls.certresolver=myresolver"
      - "traefik.http.services.oxo.loadbalancer.server.port=80"
    restart: unless-stopped
    networks:
      - web
  traefik:
    image: traefik:v2.10
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.myresolver.acme.tlschallenge=true
      - --certificatesresolvers.myresolver.acme.email=changeme@example.com
      - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/letsencrypt:/letsencrypt
    restart: unless-stopped
    networks:
      - web

networks:
  web:
    driver: bridge
